.App {
  text-align: center;
  background: linear-gradient(198deg, rgba(36,0,9,1) 0%, rgba(9,121,61,0.7152048319327731) 55%, rgba(0,212,255,1) 100%);
}

.nav-item {
  color: #ffffff; 
  text-decoration: none;
  margin: 0 10px; 
  padding: 10px; 
  font-size: 18px; 
}

.nav-item:hover {
  color: #d6d9dd; 
}

h1 {
  margin-top: 20px; 
  font-size: 36px; 
  color: #e0dde9; 
}

section {
  background-color: #ffcc00;
  padding: 20px;
  border: 2px solid #ff9900;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  color: rgb(4, 11, 11);
}